<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitc.intro.mapper.AttachMapper">
			
	<insert id="insertAttach">
		INSERT INTO attach (uuid, uploadpath, filename, thumb, bno) 
		VALUES (#{uuid}, #{uploadpath, #{filename}, #{thumb}, #{bno})
	</insert>
	
	<select id="getAttachesByHno" resultType="com.bitc.intro.domain.AttachVO">
		SELECT * FROM attach
		WHERE hno = #{hno} AND thumb = 0
	</select>
	
	<select id="getThumbnailByHno" resultType="com.bitc.intro.domain.AttachVO">
		SELECT * FROM attach
		WHERE hno = #{hno} AND thumb = 1
	</select>
	
</mapper>