<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitc.intro.mapper.HotspotMapper">
	<!-- <resultMap type="com.bitc.intro.domain.Hotspot" id="HotspotMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="district" column="district" />
		<result property="title" column="title" />
		<result property="subTitle" column="subTitle" />
		<result property="address" column="address" />
		<result property="phoneNum" column="phoneNum" />
		<result property="url" column="url" />
		<result property="traffic" column="traffic" />
		<result property="day" column="day" />
		<result property="holiday" column="holiday" />
		<result property="time" column="time" />
		<result property="fee" column="fee" />
		<result property="conv" column="conv" />
		<result property="content" column="content" />
	</resultMap> -->
	
	<insert id="insert">
		INSERT INTO hotspot (name , district , title , subtitle , address , phonenum , url , traffic , day , holiday , time , fee , conv , img , content) 
		VALUES (name=#{name} , district=#{district} , title=#{title} , subtitle=#{subtitle} , address=#{address} , phonenum=#{phonenum} , url=#{url} , traffic=#{traffic} , day=#{day} , holiday=#{holiday} , time=#{time} , fee=#{fee} , conv=#{conv} , img=#{img} , content=#{content})
	</insert>
	
	<!-- 관광지 1건 찾기 -->
	<select id="getHotspot" resultType="com.bitc.intro.domain.Hotspot">
		SELECT * FROM hotspot WHERE id = #{id}
	</select>
	
	<select id="getHotspots" resultType="com.bitc.intro.domain.Hotspot">
		SELECT * FROM hotspot ORDER BY id DESC
	</select>
	
	<select id="getHotspotsWithPaging" resultType="com.bitc.intro.domain.Hotspot">
		SELECT * FROM hotspot ORDER BY id DESC LIMIT #{pageStart} , #{amount}
	</select>
	
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(*) FROM hotspot
	</select>
	
	<delete id="deleteHotspotById">
		DELETE FROM hotspot WHERE id = #{id}
	</delete>
	
	<!-- 업데이트 이름, 제목, 부제목 ,주소, 전번, 홈페이지, 교통정보, 운영일, 휴무일, 운영시간, 요금, 편의시설, 사진, 상세-->
	<update id="updateHotspotById">
		UPDATE hotspot
		SET name=#{name} , title=#{title} , subtitle=#{subtitle} , address=#{address} , phonenum=#{phonenum} , url=#{url} , traffic=#{traffic} , day=#{day} , holiday=#{holiday} , time=#{time} , fee=#{fee} , conv=#{conv} , img=#{img} , content=#{content}
		WHERE id=#{id}
	</update>

</mapper>