<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitc.intro.mapper.HotspotMapper">
	<!-- <resultMap type="com.bitc.intro.domain.Hotspot" id="HotspotMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="district" column="district" />
		<result property="title" column="title" />
		<result property="subTitle" column="subTitle" />
		<result property="address" column="address" />
		<result property="phoneNum" column="phoneNum" />
		<result property="url" column="url" />
		<result property="traffic" column="traffic" />
		<result property="day" column="day" />
		<result property="holiday" column="holiday" />
		<result property="time" column="time" />
		<result property="fee" column="fee" />
		<result property="conv" column="conv" />
		<result property="content" column="content" />
	</resultMap> -->
	
	<!-- 관광지 1건 찾기 -->
	<select id="findById" resultType="com.bitc.intro.domain.Hotspot">
		SELECT * FROM hotspot WHERE id = #{id}
	</select>

</mapper>